@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="background-color:white">




</div>

@section Scripts
{
    @Scripts.Render("~/bundles/dashboard1")
}
